<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>{WEBSITE_TITLE}</title>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset={CHARSET}" />
    <meta name="keywords" content="{WEBSITE_KEYWORDS}" />
    <meta name="description" content="{WEBSITE_DESCRIPTION}" />    
    <meta http-equiv="imagetoolbar" content="no" />
    <link href="{LAYOUT_DIR}/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="SHORTCUT ICON" href="{LAYOUT_DIR}/favicon.ico" />
</head>

<body>
    <div id="container">
        {Galerie|<div id="header">
            <h1 title="{CURRENTGALLERY}">{CURRENTGALLERY}</h1>
            <!--h2 title="how strange"></h2-->
        </div>
        <div id="nav">
                {GALLERYMENU}
        </div>
        <div id="sidebar">
            <!-- Leerzeichen, damit das DIV nicht leer ist, wenn keine Bildbeschreibung vorhanden ist -->
            {CURRENTDESCRIPTION}&nbsp; 
        </div>
        <div id="gallerycontent">
            {NUMBERMENU}<br />
            <br />
            {CURRENTPIC}<br />
            <br />
            {XOUTOFY}
        </div>}
        <div id="footer">
            <a href="http://validator.w3.org/check/referer" title="Validates as XHTML 1.1" target="_blank">XHTML</a> | 
            <a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2" title="Validates as CSS" target="_blank">CSS</a> | 
            <!-- If you would like to use this template, I ask that you keep the following line of code intact -->
            Design by <a href="http://www.growldesign.co.uk">growldesign</a>
        </div>
    </div>
</body>
</html>
