<!-- usesubmenu = 0 -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>{WEBSITE_TITLE}</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset={CHARSET}" />
	<meta name="keywords" content="{WEBSITE_KEYWORDS}" />
	<meta name="description" content="{WEBSITE_DESCRIPTION}" />	
	<meta http-equiv="imagetoolbar" content="no" />
    <link href="{LAYOUT_DIR}/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="SHORTCUT ICON" href="{LAYOUT_DIR}/favicon.ico" />
</head>

<body id="a0">
	<div id="container">
		<div id="header">
			<div id="searchcontainer">{SEARCH}</div>
			<h1 title="{WEBSITE_TITLE}"><a href=".">{WEBSITE_TITLE}</a></h1>
			<h2>{PAGE_NAME}</h2>
		</div>
		<div id="nav">
				{MAINMENU}
		</div>
		<div id="sidebar">
			{DETAILMENU}	
		</div>
		<div id="content">
			{CONTENT}
		</div>	
		<div id="footer">
			<a href="http://validator.w3.org/check/referer" title="Validates as XHTML 1.1" target="_blank">XHTML</a> | 
			<a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2" title="Validates as CSS" target="_blank">CSS</a> | 
			{CMSINFO} | {SITEMAPLINK} | 
			<!-- If you would like to use this template, I ask that you keep the following line of code intact -->
			Design by <a href="http://www.growldesign.co.uk">growldesign</a>
		</div>
	</div>
</body>
</html>
