
/* -------------------------------------------------------- */
/* Suchformular */
/* ------------ */
.search {
    margin:0px;
    padding:5px;
    font-size: 0.9em;
    color: #6A849D;
    vertical-align : middle;
}

.search form, .news form {
    padding:0px;
    margin:0px;
}

form.searchform {
}

form.searchform:hover {
}

fieldset#searchfieldset {
    border:none;
    margin:0px;
    padding:0px;
}


/* -------------------------------------------------------- */
/* Suchfeld */
/* -------- */
input.searchtextfield {
    width:100px;
}


/* -------------------------------------------------------- */
/* Suchbutton */
/* ---------- */
input.searchbutton {
    border:none;
    margin:5px 0px -3px 10px;
}


/* -------------------------------------------------------- */
/* Such Liste */
/* ---------- */
.searchmap {
    list-style-type:none;
    margin:0;
    padding:0;
}

.searchmap ul {
    list-style-type:none;
}


/* -------------------------------------------------------- */
/* Suchwort-Hervorhebungen */
/* ----------------------- */
.highlight {
    padding:0px 1px;
    font-size:inherit;
    background-color:#dd0000;
    color:#ffffff;
}
 