<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset={CHARSET}" />
    <title>
      {WEBSITE_TITLE}
    </title>
    <style type="text/css">
/*<![CDATA[*/
    @import "{LAYOUT_DIR}/css/style.css"; 
    /*]]>*/
    </style>
    <link rel="SHORTCUT ICON" href="{LAYOUT_DIR}/favicon.ico" />
    <script type="text/javascript">
//<![CDATA[
    <!--
    function setSearchFocus() {
    if (document.search) {
    document.search.query.focus();
    document.search.query.select();
    }
    }
    -->
    //]]>
    </script>

  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>
          <a href="index.php" title="Zur Startseite">{WEBSITE_TITLE}</a>
        </h1>
      </div>
      {Galerie|<div id="sub_header">
                {CURRENTGALLERY}
      </div>
      <div id="main_content_top"></div>
      <div id="main_content">
        <div class="gallerycontent">
          <h2>
            {CURRENTGALLERY}
          </h2>
          <div class="gallerymenu">
            {GALLERYMENU}
          </div>

          <div class="gallerynumbermenu">
            {NUMBERMENU}
          </div>
          <div style="text-align:center;">
            {CURRENTPIC}<br />
            <br />
            {CURRENTDESCRIPTION}<br />
            <br />

            {XOUTOFY}
          </div>
        </div>
        <div id="clear"></div>
      </div>}
      <div id="main_content_bottom"></div>
      <div id="footer">
        <b>Design by</b> <a href="http://www.pikanai.com">Pikanai.com</a>
      </div>
    </div>
  </body>
</html>
