# mozilo
*
!.gitignore
!install.php
!lgpl.txt
!gpl.txt
!liesmich.txt
!README.md
!index.php
!readme.txt
!update.php
!sitemap_addon.xml

*/
# admin
admin/*
!admin/
!admin/ace_editor/
!admin/ace_editor/mozilo_edit_ace.php
!admin/ace_editor/src-min/*
!admin/css/
!admin/css/mozilo/
!admin/css/mozilo/jquery-ui-1.9.2.custom.css
!admin/css/mozilo/images/*
!admin/gfx/
!admin/gfx/ajax-loader.gif
!admin/gfx/clear.gif
!admin/gfx/editor_icons.png
!admin/gfx/login.png
!admin/gfx/menu.png
!admin/gfx/mo_icons.png
!admin/gfx/tabs_icons.png
!admin/gfx/trans_background.gif
!admin/jquery/
!admin/jquery/File-Upload/
!admin/jquery/File-Upload/cors/*
!admin/jquery/File-Upload/vendor/*
!admin/jquery/File-Upload/bootstrap.cms.css
!admin/jquery/File-Upload/bootstrap.min.css
!admin/jquery/File-Upload/canvas-to-blob.min.js
!admin/jquery/File-Upload/ext_icons.png
!admin/jquery/File-Upload/fileupload-cms-ui.js
!admin/jquery/File-Upload/fileupload.js
!admin/jquery/File-Upload/fileupload.php
!admin/jquery/File-Upload/fileupload.template.js
!admin/jquery/File-Upload/fileupload.template_gal.js
!admin/jquery/File-Upload/jquery.fileupload-ip.js
!admin/jquery/File-Upload/jquery.fileupload-ui.css
!admin/jquery/File-Upload/jquery.fileupload-ui.js
!admin/jquery/File-Upload/jquery.fileupload.js
!admin/jquery/File-Upload/jquery.iframe-transport.js
!admin/jquery/File-Upload/load-image.min.js
!admin/jquery/File-Upload/locale.js
!admin/jquery/File-Upload/upload.class.php
!admin/jquery/coloredit/*
!admin/jquery/ui-multiselect-widget/*
!admin/jquery/ui-multiselect-widget/i18n/*
!admin/jquery/ui-multiselect-widget/src/
!admin/jquery/ui-multiselect-widget/src/jquery.multiselect.js
!admin/jquery/ui-multiselect-widget/src/jquery.multiselect.filter.js
!admin/jquery/admin.js
!admin/jquery/catpage.js
!admin/jquery/catpage_func.js
!admin/jquery/config.js
!admin/jquery/default.js
!admin/jquery/dialog-editor-ace.js
!admin/jquery/dialog.js
!admin/jquery/dialog_prev.js
!admin/jquery/filter.js
!admin/jquery/gallery.js
!admin/jquery/gallery_func.js
!admin/jquery/home.js
!admin/jquery/multi_user.js
!admin/jquery/plugins.js
!admin/jquery/template.js
!admin/sprachen/*
!admin/favicon.ico
!admin/admin.css
!admin/admin.php
!admin/admin_template.php
!admin/catpage.php
!admin/config.php
!admin/default_conf.php
!admin/editsite.css
!admin/editsite.php
!admin/files.php
!admin/filesystem.php
!admin/gallery.php
!admin/home.php
!admin/index.php
!admin/login.php
!admin/pclzip.lib.php
!admin/plugins.php
!admin/sessionClass.php
!admin/template.php

# cms
cms/*
!cms/
!cms/jquery/
!cms/jquery/ajax-loader.gif
!cms/jquery/jquery-1.7.2.min.js
!cms/jquery/jquery-ui-1.9.2.custom.min.js
!cms/smileys/*
!cms/sprachen/*
!cms/CatPageClass.php
!cms/DefaultConfCMS.php
!cms/DefaultFunc.php
!cms/GalleryClass.php
!cms/Image.php
!cms/Language.php
!cms/Mail.php
!cms/PasswordHash.php
!cms/Plugin.php
!cms/Properties.php
!cms/SearchClass.php
!cms/Smileys.php
!cms/SpecialChars.php
!cms/Syntax.php
!cms/DownloadFile.php
!cms/idna_convert.class.php
!cms/punycode.php

# docu
docu/*
!docu/*
!docu/admin/*
!docu/admin/css/mozilo/*
!docu/admin/css/mozilo/images/*
!docu/admin/gfx/*
!docu/admin/jquery/
!docu/admin/jquery/File-Upload/*
!docu/admin/jquery/coloredit/*
!docu/admin/jquery/ui-multiselect-widget/*
!docu/admin/sprachen/*
!docu/cms/
!docu/cms/smileys/*
!docu/css/*
!docu/css/arrow/
!docu/css/arrow/arrow_point.png
!docu/css/arrow/arrow_k_point_60.png
!docu/css/arrow/arrow_bogen_nr_60.png
!docu/css/arrow/arrow_bogen_r_nr_60.png
!docu/css/arrow/arrow_kreuz_60.png
!docu/css/arrow/arrow.css
!docu/css/do_flags/*
!docu/css/mo_icons/*
!docu/deDE/*
!docu/img/*
!docu/jquery/*
!docu/language/*
!docu/module/*
!docu/docuClass.php
!docu/index.php

# gallery
galerien/*
!galerien/
!galerien/moziloCMS/*
!galerien/moziloCMS/vorschau/*

# kategorien
kategorien/*
!kategorien/
!kategorien/Willkommen/*
!kategorien/Willkommen/dateien/*

# layouts
layouts/*
!layouts/
!layouts/moziloCMS/*
!layouts/moziloCMS/css/*
!layouts/moziloCMS/grafiken/*
!layouts/moziloCMS_Standard_Dunkel/*
!layouts/moziloCMS_Standard_Dunkel/css/*
!layouts/moziloCMS_Standard_Dunkel/grafiken/*

# plugins
plugins/*
!plugins/
!plugins/CONTACT/*
!plugins/CONTACT/sprachen/*
!plugins/Galerie/*
!plugins/Galerie/sprachen/*
!plugins/LASTCHANGE/*
!plugins/MenuSubs/*
!plugins/MenuSubs/lang/*
!plugins/MenuSubsMobile/*
!plugins/MenuSubsMobile/lang/*

# algemein
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
