
/* -------------------------------------------------------- */
/* [zentriert|...] */
/* --------------- */
.aligncenter {
    text-align:center;
}

/* -------------------------------------------------------- */
/* [links|...] */
/* ----------- */
.alignleft {
    text-align:left;
}

/* -------------------------------------------------------- */
/* [rechts|...] */
/* ------------ */
.alignright {
    text-align:right;
}

/* -------------------------------------------------------- */
/* [block|...] */
/* ----------- */
.alignjustify {
    text-align:justify;
}

/* -------------------------------------------------------- */
/* [ueber1|...] */
/* ------------ */
h1 {
    font-size:16px;
    margin-top:10px;
    margin-bottom:5px;
}


/* -------------------------------------------------------- */
/* [ueber2|...] */
/* ------------ */
h2 {
/*    font-size:12px;
    margin-top:10px;
    margin-bottom:5px; */
}


/* -------------------------------------------------------- */
/* [ueber3|...] */
/* ------------ */
h3 {
    font-size:1em;
    margin-top:10px;
    margin-bottom:4px;
}