<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="keywords" content="{WEBSITE_KEYWORDS}" />
        <meta name="description" content="{WEBSITE_DESCRIPTION}" />
        <title>{WEBSITE_TITLE}</title>
        <link rel="SHORTCUT ICON" href="{LAYOUT_DIR}/favicon.ico" />
        <style type="text/css"> @import "{LAYOUT_DIR}/css/style.css"; </style>
        <meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
    </head>

    <body>
        <div id="container">
            <div id="banner">
                <!-- Grafik kann z.B. als Link zur Startseite genutzt werden -->
                <!-- <a href="http://meineseite.de> -->
                <img src="{LAYOUT_DIR}/grafiken/banner.gif" alt="{WEBSITE_TITLE}" />
                <!-- </a> -->
            </div>
            
            {Galerie|<div id="containerboth" style="text-align:center;">
                <h1>{CURRENTGALLERY}</h1>
                <br />
                {GALLERYMENU}<br />
                {NUMBERMENU}<br />
                <br />
                {CURRENTPIC}<br />
                <br />
                {CURRENTDESCRIPTION}
            </div>}

            <div id="footer">
              <div class="fotext">
                  | Design: <a href="http://www.wdesign-it.com" target="_blank">wedesignit</a> |
              </div>
            </div>
            
            
        </div>
    </body>
</html>
