<!-- usesubmenu = 1 -->
<!DOCTYPE html>
<html lang="de">
<!--
|===============================================================================|
| Template: Standard moziloCMS                                                  |
| Author: Sven Svetic, Twinix-Design                                            |
| Version: 0.1                                                                  | 
| *********  Dieser Hinweis darf nicht entfernt werden!  *********              |
|===============================================================================|
-->

<head>
    <meta charset="{CHARSET}">
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="description" content="{WEBSITE_DESCRIPTION}">
    <meta name="keywords" content="{WEBSITE_KEYWORDS}">
    <title>{WEBSITE_TITLE}</title>
    <link rel="SHORTCUT ICON" href="{LAYOUT_DIR}/favicon.ico" />
    <link rel="stylesheet" href="{LAYOUT_DIR}/css/style.css">
</head>

<body>

    <!-- Header -->
    <header class="header">
        <img src="{LAYOUT_DIR}/grafiken/logo1.png" alt="moziloCMS Logo">
        <h1>{WEBSITE_NAME}</h1>
    </header>
    <!-- TopBar -->
    <div class="topBar">
    </div>

    <main class="main-row">
        <!-- Navigation -->
        <div class="dropdown">
            <input type="checkbox" id="checkbox_toggle">
            <label for="checkbox_toggle" class="hamburger">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </label>
            <aside class="side">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="content">
                            <nav class="nav">
                                <!-- Menu -->
                                {MAINMENU}
                            </nav>
                            <br>
                            {SEARCH}
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <!-- Content -->
        <div class="main">

            <div class="panel panel-default">
                <div class="panel-body">
                    <article class="content">
                        {CONTENT}
                    </article>
                </div>
            </div>

        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy;
            <script>
                document.write(new Date().getFullYear());

            </script> {WEBSITE_NAME}
        </p>
        <p>{MEMORYUSAGE} - {EXECUTETIME}</p>
        <p>{SITEMAPLINK} - Layout: {CMSINFO}</p>
    </footer>
</body>

</html>
