<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--  
 
 $Revision:19 $
 $LastChangedDate:2008-03-12 18:06:54 +0100 (Mi, 12 Mrz 2008) $
 $Author:arvid $

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<title>{WEBSITE_TITLE}</title>
<link rel="SHORTCUT ICON" href="{LAYOUT_DIR}/favicon.ico" />
<style type="text/css"> @import "{LAYOUT_DIR}/css/style.css"; </style>
</head>

<body>
    <div id="container">
        {Galerie|<div id="headergallery">
            {CURRENTGALLERY}            
        </div>
        
        <div id="linkbar">
            <div id="navcontainer">
                <div id="navlist">
                    {GALLERYMENU}
                </div>
            </div>
        </div>
        
        <div id="content">
            <div id="gallerycontent">
                <div class="gallerynumbermenu">
                    {NUMBERMENU}
                </div>
                <br />
                {CURRENTPIC}<br />
                <br />
                {CURRENTDESCRIPTION}<br />
                <br />
                <div class="clearer"></div>
            </div>
        </div>}
        <div id="footer"></div>
    </div>
</body>
</html>
