#pagecontent {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

#pagecontent-border {
    margin: 0;
    padding: 0;
}

/*1=oben, 2=rechts, 3=unten, 4=links*/
img.ed-syntax-icon {
    padding: 2px;
    margin:0 2px 0 2px;
    vertical-align:middle;
}

.ui-state-active.fb-color-change {
    background-image: none;
}
/*1=oben, 2=rechts, 3=unten, 4=links*/
div.colordiv, #farbcode {
    position:relative;
	width:70px;
	height: 20px;
    margin:0 2px 0 2px;
}

#farbcode {
	font-size:12px;
	border:0px;
	padding:0px;
    margin:0px;
    vertical-align:middle;
}
.colorimage {
    position:absolute;
    height:18px;
    top:0px;
    left:52px;
    font-size:1px;
	margin:0px;
}

.mo-menue-row-bottom {
    margin-bottom:1.2em;
}

.mo-menue-row-top {
    margin-top:.8em;
}

div.ace_scroller {
    overflow-x: hidden;
}

#ace-menu-box {
    padding:.2em .4em;
    vertical-align:middle;
}

.mo-ace-icon {
    width:20px;
}

/* 1=oben, 2=rechts, 3=unten, 4=links */
/*
.mo-ace-in-select {
    margin:0 .4em;
    padding:.1em .2em;
    vertical-align:middle;
}*/
/**/
.mo-ace-td-select {
    padding:0 .4em;
   /* width:auto;*/
}
.mo-ace-td-select select {
    /*padding:0 .4em;*/
   /**/ width:auto;
}

.mo-ace-in-text {
    margin:0;
    padding:0;
    border-width:1px;
    vertical-align:middle;
    width:14em;
}

.mo-ace-in-check-label {
    font-weight:normal;
    margin-right:1em;
    vertical-align:middle;
}

.mo-ace-in-check {
    margin-right:.4em;
    vertical-align:middle;
}


