#pagecontent {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

#pagecontent-border {
    margin: 0;
    padding: 0;
}

/*1=oben, 2=rechts, 3=unten, 4=links*/
img.ed-syntax-icon {
    padding: 2px;
    margin:0 2px 0 2px;
    vertical-align:middle;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.ui-state-active.ed-syntax-color {
    background-image: none;
}

.mo-menue-row-bottom {
    margin-bottom:1.2em;
}

.mo-menue-row-top {
    margin-top:.8em;
}

div.ace_scroller {
    overflow-x: hidden;
}

#ace-menu-box {
    padding:.2em .4em;
    vertical-align:middle;
}

.mo-ace-icon {
    width:20px;
}

.mo-ace-td-select {
    padding:0 .4em;
}
.mo-ace-td-select select {
    width:auto;
}

.mo-ace-in-text {
    margin:0;
    padding:0;
    border-width:1px;
    vertical-align:middle;
    width:14em;
}

.mo-ace-in-check-label {
    font-weight:normal;
    margin-right:1em;
    vertical-align:middle;
}

.mo-ace-in-check {
    margin-right:.4em;
    vertical-align:middle;
}


