<!-- usesubmenu = 1 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="de">
<!--
|===============================================================================|
| Template: Standard moziloCMS                                                  |
| Author: Simone Bechtold, sbDESIGN                                            |
| Version: 0.1                                                                  | 
| *********  Dieser Hinweis darf nicht entfernt werden!  *********              |
|===============================================================================|
--> 
<head>
    <title>{WEBSITE_TITLE}</title>
    <meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="content-language" content="deutsch,de,at,ch" />
    <meta name="author" content="" />
    <meta name="date" content="" />
    <meta name="keywords" content="{WEBSITE_KEYWORDS}" />
    <meta name="description" content="{WEBSITE_DESCRIPTION}" />
    <meta name="robots" content="index,follow" />
    <link rel="SHORTCUT ICON" href="{LAYOUT_DIR}/favicon.ico" />
    <style type="text/css">
        @import "{LAYOUT_DIR}/css/style.css";
        @import "{LAYOUT_DIR}/css/syntax.css";
        /* Bei nutzung vom MenuSubsMobile Plugin
        @import "{LAYOUT_DIR}/css/responsive.css"; */
    </style>
</head>
<body>
    <!-- hier kann ein zusaetzliches Hintergrundbild ueber dem body eingefuegt und positioniert werden -->
    <div id="sb-main">
        <!-- Logo, Slogan, Suche -->
        <div id="sb-header" class="embeddedgallery-head">
            <div class="sb-header_inner">
                <!-- Logo, Seitentitel -->
                <div id="sb-titel">
                    <img src="{LAYOUT_DIR}/grafiken/logo.png" alt="Logo" />
                </div>
            </div>
        </div>
        <!-- Container fuer die Navigation und den Inhaltsbereich -->
        <div class="sb-content">
            <!--beginn Inhalt -->
            <div class="embeddedgallery">{Galerie}</div>
        </div>
     </div>
    <!-- beginn Footer -->
    <div id="footer">
        <p class="sb-copy">
            alle Bilder &copy;&nbsp;<script type="text/javascript"> document.write(new Date().getFullYear()); </script>&nbsp;by&nbsp;{WEBSITE_TITLE}  
        </p>
        <p class="sb-credit" >
            Powered by {CMSINFO} | <a href="#sb-header">Top</a>
        </p>
    </div>
</body>
</html>