<!-- usesubmenu = 1 -->
<!DOCTYPE HTML>
<html lang="de">
<!--
|===============================================================================|
| Template:    Standard moziloCMS                                               |
| Author:      moziloCMS                                                        |
| Version: 0.1 - Simone Bechtold, sbDESIGN - Standard Layout bis 09/2021        |
| Version: 0.2 - moziloCMS Update - Porting to HTML 5 Responsive Webdesign      |
|                                                                               | 
| *********  Dieser Hinweis darf nicht entfernt werden!  *********              |
|===============================================================================|
--> 
<head>
    <title>{WEBSITE_TITLE}</title>
    
    <meta charset="UTF-8">
	  <meta name="viewport" content="width = device-width, initial-scale = 1.0">     

    <meta name="content-language" content="deutsch,de,at,ch">
    <meta name="author" content="">
    <meta name="date" content="">
    <meta name="keywords" content="{WEBSITE_KEYWORDS}">
    <meta name="description" content="{WEBSITE_DESCRIPTION}">
    <meta name="robots" content="noindex">
    
    <link rel="SHORTCUT ICON" href="{LAYOUT_DIR}/favicon.ico">
    <style>
        @import "{LAYOUT_DIR}/css/style.css";
        @import "{LAYOUT_DIR}/css/syntax.css";
        /* Bei nutzung vom MenuSubsMobile Plugin
        @import "{LAYOUT_DIR}/css/responsive.css"; */
    </style>
    
	<script>
		function setSearchFocus() {
		  if (document.search) {
  		    document.search.query.focus();
  		    document.search.query.select();
  		  }
		}			
	</script>

</head>

<body id="a0">
    <!-- hier kann ein zusaetzliches Hintergrundbild ueber dem body eingefuegt und positioniert werden -->
    <div id="sb-main">
    
       <nav aria-label="Sprunglink" id="skiplinks">
          <ul>
            <li><a href="#sb-nav"> Direkt zur Navigation </a></li>
            <li><a href="#sb-page">| Direkt zum Inhalt </a> </li>
          </ul>
        </nav>
    
        <!-- Logo, Slogan, Suche -->
        <header id="sb-header">
            <div class="sb-header_inner">
                <!-- Logo, Seitentitel -->
                <div id="sb-titel">
                  <a href="{BASE_URL}index.php"><img src="{LAYOUT_DIR}/grafiken/logo.png" alt="Logo" /></a>
                </div>
                <!-- Suche -->
                <div class="sb-search">{SEARCH}</div>
            </div>
        </header>
        <!-- Container fuer die Navigation und den Inhaltsbereich -->
        <div class="sb-content">
        
            <!-- beginn linke Sidebar, hier kommen Menue, Counter Suche usw. unter -->
            <aside id="sb-sidebar">
                <!-- Hier kommt die Navigation / das Menue der Seite rein -->
                <nav id="sb-nav">
                  {MAINMENU}
                </nav>
                <!-- SidebarInhalt, Platz fuer Sidebar, SidebarPage, Counter etc. 
                <div class="sb-sidebarblock">
                </div> -->
            </aside>
            
            <!--beginn Inhalt -->
            <article id="sb-page">
              <div id="mobile">
                {Breadcrumb}
                {CONTENT}
              </div>
            </article>
            
            <div id="clearboth">&nbsp;</div>
            
        </div>
    </div>
    
    <!-- beginn Footer -->
    <footer id="footer">
        <p class="sb-copy">
          Angetrieben durch &copy;&nbsp;{CMSINFO} | {SITEMAPLINK} | <a href="#sb-header">Nach oben &uarr;</a>
          <br />  
          {MEMORYUSAGE} | {EXECUTETIME}
        </p>
    </footer>
    
</body>
</html>