<!-- usesubmenu = 1 -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta name="keywords" content="{WEBSITE_KEYWORDS}" />
        <meta name="description" content="{WEBSITE_DESCRIPTION}" />
        <title>{WEBSITE_TITLE}</title>
        <link rel="SHORTCUT ICON" href="{LAYOUT_DIR}/favicon.ico" />
        <style type="text/css"> @import "{LAYOUT_DIR}/css/template.css"; </style>
        <style type="text/css"> @import "{LAYOUT_DIR}/css/syntax.css"; </style>
        <style type="text/css"> @import "{LAYOUT_DIR}/css/menu.css"; </style>
        <style type="text/css"> @import "{LAYOUT_DIR}/css/search.css"; </style>
        <style type="text/css"> @import "{LAYOUT_DIR}/css/contact.css"; </style>
        <meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
    </head>
    <body id="a0">
        <table width="100%" cellspacing="0" border="0" cellpadding="0" align="center">
            <tr>
                <!-- height="190" die Höhe des Kopfes abhängig der Bildgrösse head_blue_left.jpg -->
                <td align="right" valign="top" class="head_left_right"><img src="{LAYOUT_DIR}/grafiken/head_blue_left.jpg" alt=" " width="22" height="190" hspace="0" vspace="0" /></td>
                <td colspan="2" align="left" valign="bottom" class="head_center"><IMG src="{LAYOUT_DIR}/grafiken/banner.gif" alt="{WEBSITE_TITLE}" hspace="0" vspace="0" border="0" /></td>
                <!-- height="190" die Höhe des Kopfes abhängig der Bildgrösse head_blue_right.jpg -->
                <td align="left" valign="top" class="head_left_right"><IMG src="{LAYOUT_DIR}/grafiken/head_blue_right.jpg" alt=" " width="22" height="190" hspace="0" vspace="0" border="0" /></td>
            </tr>
            <tr>
                <!-- height="248" die Mindest Höhe des Menue und Content -->
                <td class="content_left"><img src="{LAYOUT_DIR}/grafiken/clear.gif" alt=" " width="1" height="248" hspace="0" vspace="0" /></td>
                <td align="left" valign="top" id="rightmenu">
                    {MAINMENU}
                    {moziloPayPal}
                    <h1>Suche</h1>
                    <div class="search">{SEARCH}</div>
                </td>
                <td align="left" valign="top" id="content">{CONTENT}</td>
                <td class="content_right"> </td>
            </tr>
            <tr>
                <!-- height="60" die Höhe des footer abhängig der Bildgrösse footer_left.jpg -->
                <td align="right" valign="bottom"><IMG src="{LAYOUT_DIR}/grafiken/footer_left.jpg" alt="" width="24" height="60" hspace="0" vspace="0" border="0" /></td>
                <td colspan="2" align="center" valign="middle" class="footer">| {CMSINFO} | {SITEMAPLINK} | {LASTCHANGE} | Design: <a href="http://www.wdesign-it.com" target="_blank">wedesignit</a> | {EXECUTETIME} | {MEMORYUSAGE} |</td>
                <!-- height="60" die Höhe des footer abhängig der Bildgrösse footer_right.jpg -->
                <td align="left" valign="bottom"><IMG src="{LAYOUT_DIR}/grafiken/footer_right.jpg" alt="" width="24" height="60" hspace="0" vspace="0" border="0" /></td>
            </tr>
            <tr>
                <td width="50%" height="1" class="fontsize_1"> </td>
                <!-- Hier sind die einstelungen der Breite -->
                <!-- width="160" die Breite des Menue -->
                <td class="fontsize_1"><img src="{LAYOUT_DIR}/grafiken/clear.gif" alt=" " width="160" height="1" hspace="0" vspace="0" /></td>
                <!-- width="757" die Breite des Content -->
                <td class="fontsize_1"><img src="{LAYOUT_DIR}/grafiken/clear.gif" alt=" " width="757" height="1" hspace="0" vspace="0" /></td>
                <td width="50%" class="fontsize_1"> </td>
            </tr>
        </table>
    </body>
</html>
