/* 
* 
* $Revision:22 $
* $LastChangedDate:2008-03-21 12:55:02 +0100 (Fr, 21 Mrz 2008) $
* $Author:arvid $
*
*/
/*#############################################################
Name: Bitter Sweet
Date: 2006-10-02
Description: Lime flavoured template with two columns.
Author: Viktor Persson
URL: http://templates.arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */
* {
    margin: 0;
    padding: 0;
}
a {color: #682;}
a:hover {color: #9A6;}
body {
    background: #5F8000 url(../grafiken/bg.gif) repeat-y center top;
    color: #333;
    font: normal 62.5% "Lucida Sans Unicode",sans-serif;
    width:100%;
}
bodygal {
    background: #5F8000 repeat-y center top;
    color: #333;
    font: normal 62.5% "Lucida Sans Unicode",sans-serif;
    width:100%
}
input, textarea {
    color: #555;
    font: normal 1.1em "Lucida Sans Unicode",sans-serif;
}
p,cite,code,ul,ol {
/*    font-size: 1.2em;
    padding-bottom: 1.2em;*/
}
ul,ol {margin-left: 1.2em;}
ul li {list-style-image: url(../grafiken/li.gif);}
h1 {font-size: 1.4em;}
blockquote {
    background: #FFF;
    border-bottom: 1px solid #EEE;
    border-top: 1px solid #EEE;
    color: #333;
    display: block;
    font-size: 0.9em;
    margin-bottom: 1.2em;
    padding: 6px 12px;
}
blockquote p {padding: 3px 0;}
h1,h2,h3 {color: #654;}

/* misc */
.clearer {clear: both;}

/* structure */
.container {
    background: url(../grafiken/bgcontainer.gif) repeat-y;
    margin: 0 auto;
    width: 702px;
}
.galcontainer {
    margin: 0 auto;
    width: 702px;
}

/* top */
.top {
    background: #567300;
    font: normal 2.4em Verdana,sans-serif;
    height: 60px;
    margin: 0 auto;
    width: 630px;
}
.top a {
    color: #FFF;
    display: block;
    line-height: 60px;
    text-decoration: none;
    width: 100%;
}
.top span {padding-left: 24px;}
.top a:hover {
    background: #688B00;
    color: #FFF;
}

/* header */
.header {
    background: url(../grafiken/header.jpg) no-repeat;
    height: 180px;
    margin: 0 auto;
    width: 630px;
}

/* item */
.item {clear: both;}
.item .date {
    background: url(../grafiken/bgdate.gif) no-repeat;
    color: #FDD;
    float: left;
    height: 40px;
    text-align: center;
    width: 36px;
}
.item .date div {padding-top: 4px;}
.item .date span {font: normal 1.6em serif;}
.item .content {
    float: left;
    width: 420px;
}

.item .contentgal {
    float: left;
    width: 613px;
}
.item h1.main 
{
    display: block;
    width: 100%;
    background: #567300;
    color: #FFF;
    line-height: 40px;
    padding-left: 16px;
}
.item .body {padding: 12px 18px;}
.item .bodygal {padding: 12px 18px; text-align: center;}

/* main */
.main {float: left;}

/* navigation */
ul.mainmenu {
    margin: 0px;
    padding: 0px;
}
li.mainmenu {
    display:inline;
}
ul.detailmenu {
    margin: 0px;
    padding: 0px;
}
li.detailmenu {
    display:inline;
}
ul.gallerymenu, ul.gallerynumbermenu {
    margin: 0px;
    padding: 0px;
}
li.gallerymenu, li.gallerynumbermenu {
    display:inline;
    padding-right: 7px;
}
.navigation {
    float: left;
    margin-left: 1px;
    width: 208px;
}
.navigation a.menuactive {
    display: block;
    background: #81AC00;
    color: #FFF;
    font-size: 1.3em;
    line-height: 40px;
    padding-left: 12px;
}
/* .navigation ul {margin: 0; padding: 0;} */
.navigation a {
    display: block;
    border-bottom: 1px solid #D5E8AD;
}
.navigation a.submenuactive {
    display: block;
    background: #E8F6BF url(../grafiken/bgnavigation.gif) repeat-x;    
    color: #553;
    padding: 8px 4px 8px 12px;
    text-decoration: none;
}

.navigation a.menu
{
    display: block;
    background: #81AC00;
    color: #FFF;
    font-size: 1.3em;
    line-height: 40px;
    padding-left: 12px;
}

.navigation a.submenu {
    display: block;
    background: #E8F6BF url(../grafiken/bgnavigation.gif) repeat-x;    
    color: #553;
    padding: 8px 4px 8px 12px;
    text-decoration: none;
}
.navigation a:hover {
    background: #F0FFC6;
    color: #553;
}

/* footer */
.footer {
    background: url(../grafiken/bgfooter.gif) repeat-x;
    color: #FFF;
    font-size: 1.1em;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 626px;
}
.footer a {color: #FFF;}
.footer a:hover {color: #FAFCB0;}

.content
{
    font-size: 1.2em;
    line-height: 20px;
}

div.body ul
{
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 1.0em;
}

.crossed
{
    text-decoration: line-through;
}

div.body h1
{

    margin-bottom: 15px;
    font-size: 22px;
}

div.body h2
{
    margin-bottom: 15px;
    font-size: 18px;
}

div.body h2
{
    margin-bottom: 15px;
    font-size: 16px;
}
div.body
{
    clear:both;
}

div.gallerycontent {
    width:99%;
    overflow:hidden;
    text-align:center;
}

div.gallerymenu {
    padding:6px 8px 0px 8px;
    line-height:30px;
    text-align:center;
}

div.gallerynumbermenu {
    padding:6px 8px 0px 8px;
    line-height:30px;
    text-align:center;width:99%;
    float:none;
    margin:0px auto;
    line-height:16px;
}

table.gallerytable {
    margin:0px auto;
    border:1px solid #C0C0C0;
    border-collapse:collapse;
}
td.gallerytd {
    vertical-align:top;
    border:1px solid #C0C0C0;
}
img.thumbnail {
    margin:5px;
}

em {
font-style:normal;
}
.deadlink {
color:#aa0000;
}
.highlight {
    padding:0px 1px;
    font-size:inherit;
    background-color:#dd0000;
    color:#ffffff;
    font-size:inherit;
}


/* -------------------------------------------------------- */
/* Kontaktformular */
/* --------------- */
form#contact_form {
}
table#contact_table {
}
table#contact_table td {
  vertical-align:top;
  padding:5px;
}
span#contact_errormessage{
  color:#880000;
  font-weight:bold;
}
span#contact_successmessage{
  color:#008800;
  font-weight:bold;
}
input#contact_name, input#contact_mail, input#contact_website, input#contact_calculation {
  width:200px;
}
textarea#contact_message {
  width:200px;
}
input#contact_submit {
  width:200px;
}
/* -------------------------------------------------------- */
/* [bild|...] */
/* ---------- */
img {
    border:none;
}

span.imagesubtitle {
    margin:6px 3px;
    text-align:justify;
    font-size:0.95em;
    line-height:0.95em;
}

span.contentimage {
}


/* -------------------------------------------------------- */
/* [bildlinks|...] */
/* --------------- */
span.leftcontentimage {
    margin:8px;
    max-width:100px;
    float:left;
    margin-left:0px;
}

img.leftcontentimage {
    border:1px solid;
    max-width:100px;
}


/* -------------------------------------------------------- */
/* [bildrechts|...] */
/* ---------------- */
span.rightcontentimage {
    margin:8px;
    max-width:100px;
    float:right;
    margin-right:0px;
}

img.rightcontentimage {
    border:1px solid;
    max-width:100px;
}

/* -------------------------------------------------------- */
/* [tabelle|...] */
/* ------------- */
table.contenttable {
    margin:0px auto;
    border:1px solid #527100;
    border-collapse:collapse;
    width:100%;
}
th.contenttable {
    vertical-align:top;
    border:1px solid #527100;
    background-color:#81AC00;
    padding:2px 5px;
}
td.contenttable1 {
    vertical-align:top;
    border:1px solid #527100;
    padding:2px 5px;
}
td.contenttable2 {
    vertical-align:top;
    border:1px solid #527100;
    padding:2px 5px;
}

/* -------------------------------------------------------- */
/* [zentriert|...] */
/* --------------- */
.aligncenter {
    text-align:center;
}

/* -------------------------------------------------------- */
/* [links|...] */
/* ----------- */
.alignleft {
    text-align:left;
}

/* -------------------------------------------------------- */
/* [rechts|...] */
/* ------------ */
.alignright {
    text-align:right;
}

/* -------------------------------------------------------- */
/* [block|...] */
/* ----------- */
.alignjustify {
    text-align:justify;
}

/* -------------------------------------------------------- */
/* {TABLEOFCONTENTS} */
/* ----------------- */
div.tableofcontents ul ul {
    /*padding-left:15px;*/
}
div.tableofcontents li.blind {
    list-style-type:none;
    list-style-image:none;
}