<!-- usesubmenu = 2 -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<!--  
 
 $Revision:19 $
 $LastChangedDate:2008-03-12 18:06:54 +0100 (Mi, 12 Mrz 2008) $
 $Author:arvid $

-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="de">

<head>
<meta http-equiv="content-type" content="text/html; charset={CHARSET}"/>
<link rel="stylesheet" type="text/css" href="{LAYOUT_DIR}/css/style.css" media="screen"/>
<link rel="SHORTCUT ICON" href="{LAYOUT_DIR}/favicon.ico" />
<meta name="keywords" content="{WEBSITE_KEYWORDS}" />
<meta name="description" content="{WEBSITE_DESCRIPTION}" />
<title>{WEBSITE_TITLE}</title>
</head>

<body id="a0">

<div class="container">

	<div class="header"></div>
		
	<div class="main">
		
		<div class="item">
			<div class="date">
				
			</div>

			<div class="content">

				<h1 class="main">{WEBSITE_TITLE}</h1>

				<div class="body">

					{CONTENT}

				</div>

			</div>

		</div>

	</div>

	<div class="navigation">
		{MAINMENU}
	</div>
	
	<div class="clearer"></div>

	<div class="footer">| {CMSINFO} | {SITEMAPLINK} | {LASTCHANGE} | Design: <a href="http://templates.arcsin.se">Arcsin</a> |</div>

</div>

</body>

</html>