<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--  
 
 $Revision:19 $
 $LastChangedDate:2008-03-12 18:06:54 +0100 (Mi, 12 Mrz 2008) $
 $Author:arvid $

-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset={CHARSET}" />
        <link rel="SHORTCUT ICON" href="{LAYOUT_DIR}/favicon.ico" />
        <style type="text/css"> @import "{LAYOUT_DIR}/css/style.css"; </style>
        <title>{WEBSITE_TITLE}</title>
    </head>
    <body>
        <div class="main">
            <div class="header">
            </div>
            {Galerie|<div class="gallerycontent">
                <h1>{CURRENTGALLERY}</h1>
                <div class="gallerymenu">
                    {GALLERYMENU}
                </div>
                <div class="gallerynumbermenu">
                    {NUMBERMENU}
                </div>
                <div class="pagecontent" style="text-align:center;">
                    {CURRENTPIC}<br />
                    <br />
                    {CURRENTDESCRIPTION}<br />
                    <br />
                    {XOUTOFY}
                </div>
            </div>}
            <br style="clear:both;" />
        </div>
    </body>
</html>