<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
|==================================================================|
| Template: Flower                                                 |
| Author: Simone Bechtold - http://www.bechti.de                   |
| Version: 0.1                                                     |
|                                                                  |
| *********  Dieser Hinweis darf nicht entfernt werden!  ********* |
|==================================================================|
-->

<html xmlns='http://www.w3.org/1999/xhtml' xml:lang="de">

<head>
<title>{WEBSITE_TITLE}</title>
  <meta http-equiv="Content-Type" content="text/html;charset={CHARSET}" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <link rel="SHORTCUT ICON" href="{LAYOUT_DIR}/favicon.ico" />
  <style type="text/css"> @import "{LAYOUT_DIR}/css/style.css"; </style>

<!--[if IE]>
<style type="text/css">
  #wrapper {width:expression(document.body.clientWidth < 500? "500px": "auto" && document.body.clientWidth > 1100? "1000px": "88%");}
  div.menu {padding-top : 6px}
  a.menu {background  : #755101;}
</style>
<![endif]-->

</head>

<body>
 <div id="wrapper">

  <!-- Kopf -->
  <div id="header">
  <h1><span class="titel">{WEBSITE_TITLE}</span></h1>
  </div>

  <!-- Menue -->
  {Galerie|<div id="mainmenu"><!--Beginn Hauptnavigation -->
   <div class="menu">
   {CURRENTGALLERY}
   </div>
  </div><!--Ende Hauptnavigation -->


   <!-- Inhalt -->
   <div id="left">
    <div id="leftcol"></div>

   </div>

  <!-- Galerie Inhalt -->
  <!-- Inhalt -->
  <div class="gallerycontent">

    <div id="gallerymenu">
     {GALLERYMENU}
    </div>

    <div class="gallerynumbermenu">
       {NUMBERMENU}
    </div>

    <div class="gallerypagecontent">
    {CURRENTPIC}
    <br /><br />
    {CURRENTDESCRIPTION}
    </div>

  </div>}
  <!-- Galerie Inhalt Ende -->

   <p style="clear:both;"></p>
  </div>

 <div id="footer"> <p>Theme by <a href="http://bechti.de">be&copy;hti.de</a></p> </div>
</body>
</html>